#logo{
    width: 170px;
    padding-top: 80px;
    padding-bottom: 5px;

}

header{
    background-image: url("../img/pattern.png");
    background-color:rgb(40, 160, 200);
    width: 100%;
}
h1{
    font-size: 50px;
  }

h2{
    color: white;
    font-size: 25px;
}
.scritta{
    color: cornflowerblue;
}
.img_container {
    position: relative;
    text-align: center;
    background-color: cornflowerblue;
  } 

.centered h2{
    left: 20%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    color: white;
  }

figure{
    padding-left: 0;
  }

.colored{
    text-align: left;
    background-color: lightblue;
  }

.colored-2{
    text-align: left;
    background-color: cornflowerblue;
    color: white;
  }

#grigio{
    color: grey;
}
.monitor{
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
}
#pc{
    color: white;
    padding-top: 5px;
    padding-bottom: 200px;
    padding-left: 10px;

}

.graph{
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
}

#grafico{
    color: white;
    padding-top: 5px;
    padding-bottom: 200px;
    padding-left: 10px;
}