header {
    background-image: url("img/pattern.png");
    background-color: cornflowerblue;
  }

h1{
    font-size: 50px;
  }

h2{
    color: white;
    font-size: 25px;
}
.img{
    height: 120px;
    width: 33%;
}
.img_container {
    position: relative;
    text-align: center;
    background-color: cornflowerblue;
  } 

.centered h2{
    left: 20%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    color: white;
  }

figure{
    padding-left: 0;
  }

.colored{
    text-align: left;
    background-color: lightblue;
  }

.colored-2{
    text-align: left;
    background-color: cornflowerblue;
    color: white;
  }

footer {
    background-image: url("img/pattern.png"), url("img/pattern.png");
    background-color: white;
  }